<%= turbo_frame_tag 'types' do %>

  <h1 class="mt-20 px-5 font-semibold ">Vehículos</h1>
  
  <section class="flex flex-col shadow-sm hover:hover:shadow-lg w-full my-4">
    <h3 class="font-semibold p-5">Categorias</h3>
    <div class="flex justify-between px-10">
      <%= link_to t('.all'), cars_path %>
      <%= render partial: 'type', collection: @types %>
    </div>

  </section>

  <main class="flex w-full p-5">
  <aside class="flex flex-col w-1/4 space-y-4">
    <%= render 'cars/filter' %>
    <%= render 'cars/order_by' %>
  </aside>
  <section class="flex flex-col w-3/4">
    <h2 class="font-semibold p-2">Vehículos</h2>
    <p class='text-blue-500 p-2'>Vehículos disponibles: <%= @cars.count %></p>
    <div class="grid grid-cols-3 gap-4">
      <%= render partial: 'car', collection: @cars %>
    </div>
  </section>
</main>


<% end %>


